body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.banner {
  width: 100%;
  background-image: url(./image/img-2.PNG);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.dark {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.887);
}


.png {
  margin-top: 100px;
}

.dont {
  color: red;
  text-shadow: 1px 1px lime;
}

.spoon {
  color: red;
  text-shadow: 1px 1px lime;
}


.banner button {
  border: 1px red solid;
  background: lime;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px 0 10px 0;
  transition: all 500ms ease;
}

.banner button:hover {
  background-color: red;
}

.order {
  color: lime;
  font-style: italic;
  text-shadow: 1px 1px red;
}

.uk {
  display: flex;
  justify-content: space-around;
}

.headtext {
  margin: 200px 0 0 0;
  color: #ffff;
}

.between {
  height: 1px;
  width: 100%;
  background: lime;
}

.betwee {
  height: 2px;
  width: 100%;
  background: red;
}

.betwe {
  height: 1px;
  width: 100%;
  background: lime;
}

.second {
  background-color: rgb(0, 0, 0, 7);
  display: flex;
  justify-content: space-around;
}

.boxabout {
  margin-top: 50px;
  background-color: rgba(0, 255, 0, 0.498);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  transition: all 500ms ease;
}

.boxabout:hover {
  box-shadow: 0 0 5px 0 red !important;
}

.text-dange {
  color: black;
}

.yellow {
  width: 100%;
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.price{
  text-align: right;
}
.star{
  color: orange;
}
.cart{
  border: 1px solid red;
  margin-top: 29px;
  text-align: center;
  padding: 10px 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  
}
.cart:hover{
  background-color: lime;
}
.cards {
  width: 20%;
  max-height: 390px;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 0 black;
  border-radius: 5px;
  
}
.productname{
  font-weight: bold;
  margin-top: 5px;
}

.yellow img {
  width: 100%;
  height: 200px;
}
.sam{
  width: 25%;
  border: 2px solid red;
  padding: 10px 5px;
  margin-left: 75%;
}
.alldone{
  color: lime;
}

.boss{
  display: flex;
  justify-content: space-around;
}
.fourth{
  width: 100%;
  height: 500px;
  background-image: url(./image/img-1.PNG);
}
.element{
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.924);
  display: flex;
  padding-top: 100px;
justify-content: space-around;
}
.middle{
  width: 33%;
  text-align: center;
}

@media screen and (max-width: 768px) {
.element{
  display: inline-block;
  width: 100%;
  
}
  .second {
    display: inline-block;
    width: 100%;
  }
  .cards{
    width: 95% !important;
    margin: 10px auto;
   
  }
  .boss{
    display: inline-block;
    width: 100%;
    
  }

  .boxabout {
    margin: 10px auto 10px auto;
    background-color: rgba(0, 255, 0, 0.498);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 96%;
  }

  .png {
    margin: 0;
  }

  .banner {
    text-align: center;
  }



  .banner img {
    width: 250px;
    height: auto;
    margin-bottom: 20px;


  }

  .banner h2 {
    font-size: 20px;
    margin-left: 17%;
  }

  .headtext {
    margin: 100px 0 0 0;
    color: #ffff;
    font-size: 10px;

  }

  .uk {
    display: inline-block !important;

  }
}